<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="spring"/>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="spring.quoters.bpp.InjectRandomIntAnnotationBeanPostProcessor"/>

    <bean class="spring.quoters.bpp.BeanDefinitionFixerBeanPostProcessor"/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="spring.quoters.bpp.BenchmarkAnnotationBeanPostProcessor"/>
    <bean class="spring.quoters.bpp.TransactionalAnnotationBeanPostProcessor"/>

    <bean id="anotherQuote" class="java.lang.String">
        <constructor-arg value="get dawwwwwwwwwwwn"/>
    </bean>
    <bean id="robot" class="spring.quoters.TalkingRobotImpl">
        <property name="quoters">
            <list>
                <ref bean="shakespearQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>
    <bean id="shakespearQuoter" class="spring.quoters.ShakespearQuoter">
        <property name="message" value="2 B || ! 2 B"/>
    </bean>
    <bean id="terminatorQuoter" class="spring.quoters.TerminatorQuoter">
        <property name="messages">
            <list>
                <value>I'll be back</value>
                <ref bean="anotherQuote"/>
                <value>Astalavista baby</value>
            </list>
        </property>
    </bean>
</beans>